.preview-panel {
    display:inline-block;
    position:relative;
    height: 400px;
    text-align: center;
}

.blogvision iframe{
    display:inline-block;
    width:640px; height:360px;
}

.container_preview{
    display:inline-block;
    width:100%;
    position:relative;
    text-align:center;
}

.movieCover {
    max-width: 100%;
}

.itunesLogo {
    height: 40px;
}

.itunesLogoContainer {
    float: right;
}