
#noModal{
    display:none;
    background: black;
    position:fixed;
    top:40px;
    left:20px;
    right:20px;
    bottom:20px;
    width:90%;
    height:90%;
    border-radius: 10px;
    z-index: 9999 !important;
}

.popModal{
    display:none;
    right:150px;
    bottom:150px;
    z-index: 9999 !important;
    width: 80%;
    height: 70%;
    position:fixed;
    border-bottom-right-radius: 5px;
    background-color: white;
}

#panelModal{
    border-style : outset groove solid;
    border-color:#808080;

}


