.preview-panel {
    display:inline-block;
    position:relative;
    height: 400px;
    text-align: center;
}

.showTVCover {
    max-width: 100%;
}

.itunesLogo {
    height: 40px;
}

.itunesLogoContainer {
    float: right;
}

.blogvision iframe{
    display:inline-block;
    width:640px; height:360px;
}

.container_preview{
    display:inline-block;
    position:relative;
    text-align:center;
}

.showTv_otherSeason{
    display:inline-block;
    width:100px;
    height: 400px;
    float:left;

}

.showTv_otherSeason ul {
    list-style: none;
    width:100px;
    margin-right:15px;
}

.showTv_otherSeason li {
    font-size:0.9em;
    margin-bottom:10px;
}

.showTv_otherSeason li a {
    color:black;

}

.showTv_otherSeason ul li#active > a,
li.active > a:hover,
li.active > a:focus {
    color: #555;
    cursor: default;
    border-bottom-color: transparent;
    text-decoration: underline;
}


@media all and (max-width:500px)  {

    .preview-panel {
        display:inline-block;
        position:relative;
        height: 180px;
        text-align: center;
    }
    .blogvision iframe{
        display:inline-block;
        width:300px; height:160px;
    }

    .showTv_otherSeason{
        width:100%;
        height:30px;
    }

    .showTv_otherSeason ul {
        padding:0;
        margin:auto;
        list-style-type:none;
    }

    .showTv_otherSeason li  {
        display:block;
        float:left;
        font-size:0.8em;
        width:60px;
        height:30px;
    }

}