
#noModal{
    display:none;
    background: #222;
    position:absolute;
    margin : 0;
    width:95%;
    height:90%;
    border-radius: 10px;
    z-index: 9000 !important;
}

#close
{
    position:absolute;
}

.popModal{
    display:none;
    border-style : outset groove solid;
    border-color:#808080;
    border-bottom-right-radius: 5px;
    margin-left : auto;
    margin-right : auto;
    z-index: 9999 !important;
    background-color: white;
}

#panelModal{
    text-align : center;

    width: 80%;
    height: 100%;
}

#left-info{
    display:inline-block;
    float:left;

}

#right-info{
    text-align:left;
    display: inline-block;
    float:right;

}

#container-info{
    display:inline-block;
    position:relative;
    left:0;
    bordor-color:black;
    border-style : outset groove solid;
    width:100%;
}

.container-preview{
    display:inline-block;
    width:90%;
    height:65%;
}


