<div id="page-wrapper">

    <div class="container-fluid">
        <% if(fail){ %>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Artist not found.
                </h1>
            </div>
        </div>
        <% }else{ %>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <%= actor.artistName %>
                    <a class="itunesLogoContainer" href="<%= actor.artistLinkUrl %>"><img class="itunesLogo"
                                                                              src="img/itunes_logo.jpg"/></a>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="panel panel-default">
                        <div id="container-actor-img">
                            <img class="photoActor"
                                 src="<%= actor.img %>"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <h2>Bio</h2>
                                    <h4 class="bio"><%= actor.bio %></h4>
                                </div>
                                <div class="list-group-item">
                                    <span class="badge"><%= actor.primaryGenreName %></span>
                                    Genre
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Filmography</h3>
                    </div>
                    <div class="panel-body">
                        <!-- modele de film -->
                        <% var count = 0;
                        for(var i = 0; i< movies.length ; i++){%>
                        <div class="col-lg-1">
                            <div class="container-FilmographySnippet">
                                <div class=" FilmographySnippet">
                                    <a href="index.html#/movie/<%= movies[i].trackName %>"><img src="<%= movies[i].artworkUrl100 %>"/></a>
                                    <div>
                                        <%= movies[i].trackName %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% count++;
                            if(count % 12 == 0){ %>
                                <div class="clearleft"></div>
                            <%}
                        }%>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->