
    <div class="panel-default">
        <div class="panel-heading">Episode : <%= episode[noEpisode].trackName %></div>
            <div class="table-responsive ">


                    <div id = "container-info">
                        <div id = "left-info"> <img src ='<%= episode[noEpisode].artworkUrl100 %>' /></div>

                        <div id = "right-info">
                            <button id="searchEpisodeButton">Search</button>
                            <select id="episodeNumero">
                                <% for(var i = 0;i !== episode.length;i++){ %>
                                    <% if(noEpisode == i){ console.log("No est ",i); %>
                                        <option id = "option-list-numero"
                                                selected
                                                data-noEpisode = '<%= i %>'
                                                data-time =      "<%= episode[i].trackTimeMillis / (60000) %>"
                                                value="<%= i %>"> <%= episode[i].trackName %> </option>
                                    <% } else { %>
                                        <option id = "option-list-numero"
                                                data-noEpisode = '<%= i %>'
                                                data-time =      "<%= episode[i].trackTimeMillis / (60000) %>"
                                                value="<%= i %>"> <%= episode[i].trackName %> </option>
                                    <% }}; %>
                            </select></br>
                            Season : <%= episode[noEpisode].collectionName %></br>
                            Description : <%= episode[noEpisode].longDescription %></br>
                            Time : <%= episode[noEpisode].trackTimeMillis / (60000) %></br>
                        </div>
                    </div>


            </div>
    </div>
    <div class="preview-panel container-preview">
        <div class='blogvision'>
            <iframe id="preview-frame-modal"
                    src='<%= serie.urlTrailer %>'></iframe>

        </div>

    </div>
    <!--- showTv_otherSeason-->
</div>