<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Search Page
                </h1>
                <div>
                    <label for="MoviesCheckBox">Movies</label><input id="MoviesCheckBox" type="checkbox" checked/>
                    <span id="MoviesGenres"></span>
                    <label for="SeriesCheckBox">Series</label><input id="SeriesCheckBox" type="checkbox" checked/>
                    <span id="SeriesGenres"></span>
                    <label for="ActorsCheckBox">Actors</label><input id="ActorsCheckBox" type="checkbox" checked/>
                    <label for="UsersCheckBox">Users</label><input id="UsersCheckBox" type="checkbox"/>
                </div>
                <div>
                    <input id="searchbox"/><button id="searchbutton">Search</button>
                </div>
            </div>

            <div id="MoviesResultsPlaceholder"/>
            <div id="SeriesResultsPlaceholder"/>
            <div id="ActorsResultsPlaceholder"/>
            <div id="UsersResultsPlaceholder"/>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>