

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <%= serie.seasons[0].artistName %>
                    <a class="itunesLogoContainer"
                       href="<%= serie.seasons[serie.noSeason].collectionViewUrl %>"
                       target="_blank"><img class="itunesLogo" src="img/itunes_logo.jpg"/></a>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Preview container -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-body">

                        <div class="container_preview">
                            <div id = "noModal"><button id = "close">X</button>
                                <div id = "panelModal" class = 'popModal'>

                                </div>
                            </div>
                            <div class="season_list col-lg-3 panel panel-default">
                                <div class="panel-heading">Seasons</div>
                                <div class="panel-body showTv_list">
                                    <div class="table-responsive ">
                                        <table class="table">
                                            <tbody>
                                            <% for(var i = 0;i !== serie.seasons.length;i++){ %>
                                            <% if(i == serie.noSeason){ %>
                                                <tr><td><a href="/projetSession/index.html#serie/<%= serie.seasons[0].artistName %>/<%= i %>"><%= serie.seasons[i].collectionName %></a></td></tr>
                                            <% } else{ %>
                                                <tr><td><a href="/projetSession/index.html#serie/<%= serie.seasons[0].artistName %>/<%= i %>"><%= serie.seasons[i].collectionName %></a></td></tr>
                                            <%}} %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-panel col-lg-5">
                                <div class='blogvision'>
                                    <iframe id="preview-frame"
                                            src='<%= serie.urlTrailer %>'></iframe>
                                             <br/><a href='<%= serie.seasons[serie.noSeason].collectionViewUrl %>'
                                            target='_blank'><%= serie.seasons[0].artistName %></a>
                                </div>
                            </div>
                            <div class="season_list col-lg-4 panel panel-default">

                                <div class="panel-heading">Episodes</div>
                                <div class="panel-body showTv_list">
                                    <div class="table-responsive ">

                                        <table class="table">
                                            <tbody>
                                            <% for(var i = 0;i !== serie.episodes.length;i++){ %>
                                                <tr><td>
                                                       <div id = 'linkModal'
                                                       data-noEpisode = '<%= i %>'
                                                       data-idSaison = '<%= serie.episodes[i].collectionId %>'
                                                       data-noSaison=         '<%= serie.noSeason %>'
                                                       ><%= serie.episodes[i].trackName %></div></td></tr>
                                            <%} %>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <!--- showTv_otherSeason-->
                        </div>
                    </div>
                        <!-- fin container_preview> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <img class="showTVCover"
                     src="<%= serie.seasons[serie.noSeason].artworkUrl400 %>"/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item">
                            <span class="badge"><%= serie.seasons[serie.noSeason].primaryGenreName %></span>
                            Genre
                        </div>
                        <div class="list-group-item">
                            <span class="badge"><%= serie.seasons[serie.noSeason].releaseDate %></span>
                            Release Date
                        </div>
                        <div class="list-group-item">
                            <span class="badge"><%= serie.seasons[serie.noSeason].country %></span>
                            Country
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Description</h3>
                </div>
                <div class="panel-body"><%= serie.seasons[serie.noSeason].longDescription %></div>
            </div>
        </div>
    </div>
    </div>
    <!-- /.container-fluid -->
</div>
