<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Series</h3>
        </div>
        <div class="panel-body">
            <% _.each(series, function(serie) { %>
            <div class="col-lg-2">
                <div class="container-FilmographySnippet">
                    <a href="index.html#/serie/<%= serie.trackName %>">
                        <div class=" FilmographySnippet">
                            <img src="<%= serie.artworkUrl100 %>"/>

                            <div>
                                <%= serie.trackName %>
                            </div>
                            <div>
                                <%= (new Date(serie.releaseDate)).toDateString() %>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>