<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <%= serie.seasons[0].artistName %>
                    <a class="itunesLogoContainer"
                       href="https://itunes.apple.com/us/tv-season/the-walking-dead-season-6/id1032845253"
                       target="_blank"><img class="itunesLogo" src="img/itunes_logo.jpg"/></a>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Preview container -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-body">

                        <div class="container_preview">
                            <div class="showTv_list">
                                <iframe src="html/showTv_list.html"></iframe>
                            </div>
                            <div class="preview-panel">
                                <div class='blogvision'>
                                    <iframe id="preview-frame"
                                            src='http://www.allocine.fr/_video/iblogvision.aspx?cmedia=19555012'></iframe>
                                    <br/><a href='http://www.allocine.fr/series/ficheserie_gen_cserie=7330.html'
                                            target='_blank'><%= serie.seasons[0].artistName %></a></div>
                            </div>
                            <div class="showTv_otherSeason">
                                <ul>
                                    <% for(var i = 0;i<serie.seasons.length;i++){ %>
                                        <% if(i == serie.noSeason){ %>
                                            <li id="active"><a href="/projetSession/index.html#serie/<%= serie.seasons[0].artistName %>/<%= i %>"><%= serie.seasons[i].collectionName %></a></li>
                                        <% } else{ %>
                                            <li><a href="/projetSession/index.html#serie/<%= serie.seasons[0].artistName %>/<%= i %>"><%= serie.seasons[i].collectionName %></a></li>
                                    <%}} %>
                                </ul>
                            </div>
                            <!--- showTv_otherSeason-->

                        </div>
                        <!-- fin container_preview> -->

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <img class="showTVCover"
                     src="<%= serie.seasons[serie.noSeason].artworkUrl400 %>"/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item">
                            <span class="badge"><%= serie.seasons[serie.noSeason].primaryGenreName %></span>
                            Genre
                        </div>
                        <div class="list-group-item">
                            <span class="badge"><%= serie.seasons[serie.noSeason].releaseDate %></span>
                            Release Date
                        </div>
                        <div class="list-group-item">
                            <span class="badge"><%= serie.seasons[serie.noSeason].country %></span>
                            Country
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Description</h3>
                </div>
                <div class="panel-body"><%= serie.seasons[serie.noSeason].longDescription %></div>
            </div>
        </div>
    </div>
    </div>
    <!-- /.container-fluid -->
</div>
