<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Movies</h3>
                    </div>
                    <div class="panel-body">
                        <a href="movie.html">
                            <div class="col-lg-2">
                                <div class="container-FilmographySnippet">
                                    <div class=" FilmographySnippet">
                                        <img src="http://fr.web.img3.acsta.net/medias/nmedia/18/72/29/76/19505056.jpg"/>

                                        <div>
                                            Alpha & Omega - 3D
                                        </div>
                                        <div>
                                            June 26th, 2013
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="movie.html">
                            <div class="col-lg-2">
                                <div class="container-FilmographySnippet">
                                    <div class=" FilmographySnippet">
                                        <img src="http://fr.web.img5.acsta.net/r_160_240/b_1_d6d6d6/pictures/15/07/02/12/46/372128.jpg"/>

                                        <div>
                                            Everest
                                        </div>
                                        <div>
                                            September 23, 2015
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="movie.html">
                            <div class="col-lg-2">
                                <div class="container-FilmographySnippet">
                                    <div class=" FilmographySnippet">
                                        <img src="http://fr.web.img4.acsta.net/r_160_240/b_1_d6d6d6/pictures/15/07/07/12/04/373064.jpg"/>

                                        <div>
                                            Le Transporteur Héritage
                                        </div>
                                        <div>
                                            September 9, 2015
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>