<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Your watchlists
                </h1>
                <input id="WathchlistNameInputBox" placeholder="Name"><button id="AddWatchlistButton">Add</button>
            </div>
            <% _.each(watchlists, function(watchlist) { %>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <input class="watchListName" value="<%= watchlist.name %>" />
                            <button class="RemoveWatchListButton"
                                    data-id="<%= watchlist.id %>">Delete</button>
                            <button class="ModifyWatchListButton"
                                    data-id="<%= watchlist.id %>">Modify</button>
                        </div>
                        <div class="panel-body">
                            <% _.each(watchlist.movies, function(movie) { %>
                                    <div class="col-lg-2">
                                        <div class="container-FilmographySnippet">
                                            <a href="index.html#/movie/<%= movie.trackName %>">
                                            <div class=" FilmographySnippet">
                                                <img src="<%= movie.artworkUrl300 %>"/>

                                                <div>
                                                    <%= movie.trackName %>
                                                </div>
                                                <div>
                                                    <%= (new Date(movie.releaseDate)).toDateString() %>
                                                </div>
                                            </div>
                                            </a>
                                            <button class="RemoveFromWatchListButton"
                                                    data-watchlist="<%= watchlist.id %>"
                                                    data-id="<%= movie.trackId %>">Remove</button>
                                        </div>
                                    </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            <% }); %>
            <input id="searchMoviesInputBox" />
            <button id="searchMoviesButton">Search</button>
            <select id="watchListIds">
                <% _.each(watchlists, function(watchlist) { %>
                    <option value="<%= watchlist.id %>"> <%= watchlist.name %> </option>
                <% }); %>
            </select>
            <div id="ResultList" />
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>